body > div:first-child {
  background-color: #0000000 !important;
  background-image:
    linear-Gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg,rgba(255, 255, 255, 0.03) 1px, transparent 1px) !important;
  background-size:50px 50px !important;
  color: #ffffff !important;
  min-height: 100vh;
}
